{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %} Masterpiece Vintage Cars  {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}

</div></div></div>
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
    <link rel="icon" href="https://i.ibb.co/V9xPkvr/download.png" type="image/x-icon"/>
 <style>
        /* Add your custom styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            font-family: "Century Gothic";
        }
        *{
            font-family: "Century Gothic" !important;
        }
        .header {
            background-image: url('your-image-url.jpg');
            background-size: cover;
            text-align: center;
            padding: 50px;
        }

        .logo {
            width: 300px;
        }

        .header h1 {
            color: #fff;
            font-size: 36px;
        }

        .nav {
            background-color: #000;
            text-align: center;
            padding: 0px 0;
            display: block;
        }

        .nav ul {
            list-style: none;
            padding: 0;
        }

        .nav li {
            display: inline;
            margin: 0 20px;
        }

        .nav a {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
        }

        .nav a:hover {
            text-decoration: underline;
        }

        .image-overlay {
            background: url('');
            background-size: cover;
            background-position: center;
            padding: 20px 0;
            text-align: center;
            width: 100%;
            height: 48px;
            padding-top: 0px;
        }

        .overlay-content {
            background: rgba(0, 0, 0, 0.6);
            padding: 20px;
            height: 500px;
        }

        .overlay-content p {
            color: #fff;
        }

        .stats {
            text-align: center;
            padding: 40px 0;
        }

        .stats h2 {
            font-size: 24px;
        }

        .stats p {
            font-size: 18px;
            margin: 10px 0;
        }

        .image-under-overlay {
            max-width: 100%;
            height: auto;
        }
.nav ul li a {
    text-decoration: none;
    transition: color 0.3s ease; /* Add a smooth transition for the color change */
    font-size: 25px;
    padding-right: 10px;
    font-family: "Century Gothic";
}

.nav ul li a:hover {
    color: navajowhite; /* Change to your desired hover color */
    text-decoration: none;
}
.custom-button {
             font-family: 'Century Gothic';
            font-size: 20px;
            padding: 10px 20px;
            cursor: pointer;
            background-color: rgba(128, 128, 128, 0.7); /* Gray background color with 0.7 transparency */
            color: white; /* White text color */
            border: 2px solid #666; /* Border color */
            border-radius: 5px; /* Add border radius */
            transition: background-color 0.3s, border 0.3s, transform 0.3s; /* Add smooth transitions */
        }

        /* Change button background color and scale on hover */
        .custom-button:hover {
            background-color: rgba(0, 0, 0, 0.5); /* Darker gray on hover */
            border: 2px solid rgba(0, 0, 0, 0.5);
            color: white;
            transform: scale(1.05); /* Scale on hover */
        }

        /* Adjust the button size for smaller screens */
        @media (max-width: 480px) {
            .custom-button {
                font-size: 16px;
                padding: 8px 16px;
            }
        }

        li{
            transition: transform 0.3s;
        }

        li:hover{
            transform: scale(1.05);
        }

        .pp1{
            font-family: "Century Gothic";
            transition: transform 0.3s;
        }

        .pp1:hover{
            transform: scale(1.05);
        }

         .pp2{
            font-family: "Century Gothic";
            transition: transform 0.3s;
        }

        .pp2:hover{
            transform: scale(1.02);
        }
    </style>
</head>
     <div class="nav">
        <ul>
            <li><a href="{% url 'main' %}"><img src="https://i.ibb.co/4Y4QCrw/im1age.png" alt="Your Logo"></a></li>
            <li><a href="{% url 'main' %}">Homepage</a></li>
            <li><a href="{% url 'main' %}#inventory">Inventory</a></li>
            <li><a href="/home/templates/feedback.html">Feedback</a></li>
            <li><a href="{% url 'main' %}#location">Location</a></li>
            <li><a href="{% url 'main' %}#contactus">Contact Us</a></li>
        </ul>
    </div>
    <div class="image-overlay">

    </div>

 <script>
        function scrollToInventory() {
            document.getElementById('inventory').scrollIntoView({ behavior: 'smooth' });
        }
    </script>
  <style>
/* Add this CSS to your stylesheet */
.card1 {
    width: 300px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateX(-20px); /* Initial position, off-screen to the left */
    transition: opacity 0.3s, transform 0.3s;
}
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .image-container {
        width: 100%;
        height: 100%;
    }
    .card1{
        width: 300px;
    }

}
.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container:hover .hover-overlay {
    opacity: 1;
}

.hover-overlay i {
    color: white;
    font-size: 40px;
}

</style>

<style>
    .contact-us {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .contact-heading {
        font-size: 28px;
        font-weight: bold;
        color: #333;
    }

    .contact-text {
        font-size: 16px;
        color: #555;
        line-height: 1.6;
        margin-top: 20px;
    }



    .contact-detail {
        font-size: 18px;
        color: #333;
        margin: 10px 0;
    }

    .contact-detail span {
        font-weight: bold;
        color: #555;
    }




    .post-container {
            width: 30%; /* Adjusted width to make it bigger */
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin: 10px;
        }

        .post {
            padding: 20px;
        }

        .profile-pic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .nickname {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .star-rating {
            color: #FFD700; /* Gold color for stars */
        }

        .feedback-comment {
            margin-top: 10px;
        }

        .post-images img {
            width: 250px;
            margin-top: 10px;
        }

        /* Added style for the container holding all the posts */
        .posts-container {
            display: flex;
            justify-content: space-around;
        }

        .feedback-card{
            width: 40%;
            height: 560px;
            margin: 20px 0;
            margin-bottom: 120px;
            border-radius: 10px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            font-family: 'Montserrat', sans-serif;
        }
</style>



</head>
<center>
<div class="container" style="margin-bottom: 100px">
    <h2 class="card-title text-center mt-5 pp1" style="margin-bottom: 50px; margin-top: 20px">Customer Reviews</h2>
     <div class="posts-container">
        <div class="post-container pp2">
            <div class="post">
                <img class="profile-pic" src="user1.jpg" alt="Profile Picture">
                <div class="post-content">
                    <div class="nickname">James Smith</div>
                    <div class="star-rating">★★★★☆</div>
                    <div class="feedback-comment">I recently bought a classic car from Classic Car Market, and I couldn't be more satisfied. Here's why:

                    Customer Service: The team was incredibly responsive and helpful, answering all my questions with patience and professionalism.

                    Selection: Classic Car Market boasts an impressive lineup of classic cars, making it easy to find the perfect match.

                    Transparency: Their transparency regarding the car's history and condition played a vital role in my decision.

                    Purchase Process: The process was straightforward, with multiple secure payment options available.

                    Delivery: The car arrived in pristine condition, reflecting their attention to detail and care in transportation.

                    Overall, Classic Car Market made my classic car dream come true, and I highly recommend them to fellow enthusiasts.</div>
                    <div class="post-images">

                        <img src="https://pastandpresentmotorcars.com/website/dealer/shipping2/1" alt="Image 1">

                    </div>
                </div>
            </div>
        </div>

        <div class="post-container pp2">
            <div class="post">
                <img class="profile-pic" src="user2.jpg" alt="Profile Picture">
                <div class="post-content">
                    <div class="nickname">John Johnson</div>
                    <div class="star-rating">★★★★★</div>
                    <div class="feedback-comment">I recently purchased a classic car from Classic Car Market and had a fantastic experience. The customer service was top-notch, the selection was impressive, and the delivery was flawless. I couldn't be happier with my purchase.</div>
                    <div class="post-images">
                        <img src="https://pastandpresentmotorcars.com/website/dealer/shipping2/2" alt="Image 3">
                        <img src="https://pastandpresentmotorcars.com/website/dealer/shipping2/3" alt="Image 4">
                    </div>
                </div>
            </div>
        </div>

        <div class="post-container pp2">
            <div class="post">
                <img class="profile-pic" src="user3.jpg" alt="Profile Picture">
                <div class="post-content">
                    <div class="nickname">Charles Clark</div>
                    <div class="star-rating">★★★★★</div>
                    <div class="feedback-comment">Classic Car Market made my classic car dream a reality. Their wide selection, transparent listings, and professional customer service set them apart. The car arrived in perfect condition, and I couldn't be happier.</div>
                    <div class="post-images">
                        <img src="https://pastandpresentmotorcars.com/website/dealer/shipping3/1" alt="Image 5">
                        <img src="https://pastandpresentmotorcars.com/website/dealer/shipping3/2" alt="Image 6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="feedback-card pp1">
            <h2>Leave a Feedback</h2>
            <form class="p-3" id="feedback-form" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name pp2">Your Name</label>
                    <input type="text" class="form-control" id="name" name="name" style="border-radius: 0px; border-bottom: 1px solid black" required>
                </div>
                <div class="form-group" style="padding-top: 20px;">
                    <label for="rating pp2" >Rating</label>
                    <select class="form-control" id="rating" name="rating" required>
                        <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
                        <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
                        <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
                        <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
                        <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
                    </select>
                </div>
                <div class="form-group" style="padding-top: 20px;  border-radius: 0px; border-top: 1px solid grey; border-bottom: 1px solid black" >
                    <label for="feedback pp2">Your Feedback</label>
                    <textarea class="form-control" id="feedback" name="feedback" rows="4" required></textarea>
                </div>
                <div class="form-group" style="padding-top: 20px">
                    <label for="image">Upload an Image</label>
                    <input type="file" class="form-control-file" id="image" name="image">
                </div>
                <button type="button" class="btn btn-primary btn-lg mx-auto d-block custom-btn" id="submit-btn" style="margin-top: 20px">Submit</button>
            </form>
        </div>

</center>


    <style>
    
    .btn {
    background-color: #7b809a;
    border: 0px;
    box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.3); /* Added box-shadow with light gray color */
    transition: box-shadow 0.3s ease; /* Added transition property for smooth animation */
        transition: background-color 0.3s ease;
        transition: transform 0.3s ease;
}

.btn:hover {
    background-color: black;
    box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.5); /* Adjusted box-shadow on hover */
    transform: scale(1.05);
}

    
        .dialog-box {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            z-index: 999;
            font-size: 30px;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        .dialog-box.visible {
            display: block;
            opacity: 1;
        }</style>

    <div class="dialog-box" id="dialog-box" style="font-size: 30px">
            Your review will appear on the website, as soon as possible
        </div>
        <script>
        // JavaScript to handle the dialog box
        document.getElementById("submit-btn").addEventListener("click", function() {
            var name = document.getElementById("name").value;
            var rating = document.getElementById("rating").value;
            var feedback = document.getElementById("feedback").value;

            if (name && rating && feedback) {
                // All fields are filled
                var dialogBox = document.getElementById("dialog-box");
                dialogBox.classList.add("visible");
                document.getElementById("feedback-form").reset();

                // Automatically hide the dialog after a delay (e.g., 3 seconds)
                setTimeout(function() {
                    dialogBox.classList.remove("visible");
                    location.reload();
                }, 2000);
            } else {
                // Not all fields are filled
            }
        });
        </script>




<style>
    .review {
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         margin-bottom: 20px;
        margin-top: 20px;
    }

    .user-info {
        display: flex;
        align-items: center;
    }

    .user-photo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .rating {
        margin-bottom: 10px;
    }

    .fa-star {
        font-size: 18px;
        color: gold;
        margin-right: 5px;
    }

    .checked {
        color: orange;
    }
</style>





<style>
    /* Add the hover effect styles with smooth transition */
    .hover-effect {
        transition: transform 0.3s ease-in-out;
    }

    .hover-effect:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
</style>

<script>
    function openFullscreenImage(imageUrl) {
        window.open(imageUrl, '_blank', 'fullscreen=yes');
    }
</script>








<style>
/* Custom button style */
.btn-custom {
  background-color: #3498db; /* Background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #2980b9; /* Background color on hover */
}

/* Custom car listing design */
.car-container {
  margin-bottom: 20px;
}

.car-card {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.car-container:hover {
    transform: scale(1.05); /* Zoom effect on hover */
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}

.car-card {
    position: relative;
}

.car-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent; /* Initial transparent border */
    transition: border 0.3s ease; /* Smooth transition for border */
}

.car-card:hover{
    transform: scale(1.01);
}

.car-card:hover img{
    transform: scale(1.05);
}

.car-container:hover .car-card::after {
    border: 2px solid #000; /* Black border on hover */
    transform: scale(1.01);
}


.car-image {
  position: relative;
  overflow: hidden;
  /* Set a specific aspect ratio (e.g., 16:9) for the container */

  /* Set a maximum width to prevent images from exceeding the container */
  max-width: 100%;
    max-height: 254px;
}

.car-image img {
  width: 100%;
  height: 254px;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  transition: transform 0.3s ease-in-out;
}

.car-details {
  padding: 15px;
    height: 160px;
}

.car-title {
  font-size: 1.25rem;
  margin: 0;
    height: 70px;
}

.car-info {
  font-size: 0.875rem;
  color: #777;
  margin: 5px 0;
}

/* Style the "Show More" button */
#show-more {
  padding: 10px 20px;
  font-size: 18px;
}

  /* Add your custom styles here */
  .filter-container {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #sorting-options,
  #brand-filter,
  #type-filter {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .car-list-container {
    margin-top: 20px;
  }

  /* Style the "Show More" button */
  #show-more {
    padding: 10px 20px;
    font-size: 18px;
  }
</style>



<!-- Add your CSS and JavaScript here -->








<div id="overlay5"></div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#openDialogButton5").click(function () { // Use the unique ID for the button
            $("#dialogBox5").fadeIn(); // Use the unique ID for the dialog box
            $("#overlay5").fadeIn(); // Use the unique ID for the overlay
        });

        $("#closeDialogButton5").click(function () { // Use the unique ID for the button
            $("#dialogBox5").fadeOut(); // Use the unique ID for the dialog box
            $("#overlay5").fadeOut(); // Use the unique ID for the overlay
        });
    });
</script>
      <style>
    #dialogBox5 { /* Unique ID for the first dialog box */
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        padding: 2%;
        border-radius: 15px; /* Smoother edges */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Smoother shadow */
        z-index: 1000;
        width: 60%; /* Adjust width as a percentage of the page */
        max-width: 500px; /* Set a maximum width for very large screens */
    }

    #overlay5 { /* Unique ID for the first overlay */
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 999;


    }
</style>

<style>
    /* Stylish close button */
    .close-button5 {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        outline: none;
        color: #333; /* Change the color to your desired color */
        transition: color 0.3s ease; /* Add a smooth color transition */
    }

    /* Hover effect for the close button */
    .close-button5:hover {
        color: red; /* Change the color on hover to your desired color */
    }
</style>


<style>
.contact-text:hover{
    color: #344767;
}
.contact-item{
    color:  #344767;
}
</style>

<!-- -------- START Content Presentation Docs ------- -->


<section id="location" class="classic-car-location">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pp1">
        <h2 class="pp1">Our Location</h2>
        <p>
          Explore our classic car marketplace and showroom, situated in a beautifully restored historic building. Immerse yourself in the world of timeless automotive excellence and vintage charm.
        </p>
        <p>Visit us at:</p>
        <address>
          675 US-31, Whiteland,<br> IN 46184
        </address>
      </div>
      <div class="col-md-6 pp1">
        <div class="classic-car-location-map">
            <a href="https://www.google.com/maps/place/30+Price+Ln,+Silex,+MO+63377/data=!4m2!3m1!1s0x87de920d503fced7:0xf3ade13658f5d06e?sa=X&ved=2ahUKEwjO0OC61_2BAxXokYkEHXhkAhAQ8gF6BAgREAA&ved=2ahUKEwjO0OC61_2BAxXokYkEHXhkAhAQ8gF6BAgTEAI">
          <img src="https://gcdnb.pbrd.co/images/jSXYtCTagsj4.png?o=1" alt="Map" width="540px">
                </a>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
.hero {
    background: url('https://dealeraccelerate-all.s3.amazonaws.com/chipwynn/marketing_assets/39/20221104_151453.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-title {
    font-size: 36px;
    margin: 0;
}

.hero-subtitle {
    font-size: 24px;
    margin: 20px 0;
}

.contact-section {
    background: #f5f5f5;
    padding: 50px 0;
}

.container {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 15px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.contact-item {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
}

.contact-item i {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-label {
    font-size: 16px;
    font-weight: bold;
    display: block;
}

.contact-text {
    font-size: 14px;
}
/* Background color for left column */
.bg-primary {
    background-color: #7b809a !important;
}

/* Text color for left column */
</style>

<!-- -------- END Content Presentation Docs ------- -->







    </div>
    <hr class="horizontal dark my-5">
    <div class="row" style="margin-right: 0px">
        <div class="col-lg-2 col-md-4 col-6 ms-lg-0 ms-md-auto">
        <img class="w-100 opacity-6" src="https://i.ibb.co/1bDkypm/download.png" alt="Logo" style="width: 150%">
      </div>
        <div class="col-lg-2 col-md-4 col-6 ms-auto">
        <p></p>
      </div>
      <div class="col-lg-2 col-md-4 col-6 ms-auto">
        <p>©2023 Master Piece Vintage Cars Llc</p>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <p>675 US-31, Whiteland,
IN 46184</p>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <p>+1 (417) 730-9778 </p>
      </div>

      <div class="col-lg-2 col-md-4 col-6 me-md-auto mx-md-0 mx-auto">

      </div>
    </div>
  </div>
</section>

<!-- -------   END PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

</div>

{% endblock content %}

{% block javascripts %}

<!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
<script src="{% static 'js/plugins/countup.min.js' %}"></script>
<script src="{% static 'js/plugins/choices.min.js' %}"></script>
<script src="{% static 'js/plugins/prism.min.js' %}"></script>
<script src="{% static 'js/plugins/highlight.min.js' %}"></script>
<!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
<script src="{% static 'js/plugins/rellax.min.js' %}"></script>
<!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
<script src="{% static 'js/plugins/tilt.min.js' %}"></script>
<!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
<script src="{% static 'js/plugins/choices.min.js' %}"></script>


<script type="text/javascript">

  if (document.getElementById('state1')) {
    const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById('state2')) {
    const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById('state3')) {
    const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    };
  }
</script>

       <script>
        document.addEventListener("scroll", function() {
            var nav = document.querySelector('.nav');
            nav.classList.toggle('scrolled', window.scrollY > 0);
        });
    </script>

<style>
    .nav {
        background-color: rgba(0, 0, 0, 1); /* Semi-transparent black background */
        position: fixed; /* Position the navbar absolutely on top of the image */
        width: 100%;
         transition: background-color 1.5s ease;
        z-index: 100;
    }
      .nav.scrolled {
            background-color: #000; /* Background color after scrolling */
        }

    .nav ul {
        padding-top: 15px;
        margin-bottom: 0;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-evenly;
    }

    .nav li {
        list-style: none;
        color: white; /* Text color for the navbar links */
    }

    .nav img {
        width: 105px;
    }

    .image-overlay {
        position: initial; /* Position the container relatively for absolute positioning of the navbar */
    }

    .overlay-content {
        padding-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    /* Add more CSS styles for your links, such as changing their color, hover effects, etc. */
    .nav a {
        text-decoration: none;
        color: white; /* Text color for the navbar links */
        padding: 10px;
    }
    /* Common styles for zoom effect */
.car-image-container {
    overflow: hidden;
    position: relative;
}

.zoom {
    transition: transform 0.3s ease;
}

.zoom:hover {
    transform: scale(1.1);
}

/* Additional hover effects */
.other-hover-effect {
    /* Add styles for other hover effect */
}

.other-hover-effect:hover {
    /* Add styles for other hover effect on hover */
}
</style>

{% endblock javascripts %}
